/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) and (min-width: 750px) {
    html {
      font-size: calc(100vw/108); } }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #ffffff; }

html, body {
  width: 100vw;
  overflow-x: hidden; }

.text {
  display: flex;
  align-content: center;
  justify-content: center; }
  .text__primary {
    color: #413e3e;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: inline-block; }
    @media (max-width: 750px) {
      .text__primary {
        font-size: 2.4rem; } }
    .text__primary::after {
      content: "";
      width: 4rem;
      height: .3rem;
      background-image: linear-gradient(to right, #c9e23f, #48e3dc);
      position: absolute;
      top: .1rem;
      left: 0; }
      @media (max-width: 750px) {
        .text__primary::after {
          font-size: 4.8rem; } }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%; }
  @media (max-width: 750px) {
    .container {
      padding-left: 11.5px;
      padding-right: 11.5px; } }

.section-logo {
  padding: 2.5rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%; }
  @media (max-width: 750px) {
    .section-logo {
      padding: 1.7125rem 0.075rem;
      position: fixed;
      top: 0;
      z-index: 20; } }
  @media (max-width: 750px) {
    .section-logo__img {
      width: 185px; } }

@media (max-width: 750px) {
  .section-bg {
    margin-top: 7rem; } }

.section-menu {
  margin: 0 auto;
  margin-top: 1.2rem;
  padding: 2.3rem 0;
  background-color: white; }
  @media (max-width: 750px) {
    .section-menu {
      margin: 0;
      padding: 0; } }

.section-news {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section-news__content {
    margin-top: 3rem;
    padding: 0 16rem;
    padding-right: 15rem; }
    @media (max-width: 750px) {
      .section-news__content {
        padding: 0; } }
  @media (max-width: 750px) {
    .section-news {
      padding: 0 0 3rem 0;
      margin-top: 5.5rem; } }

.section-features {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 750px) {
    .section-features {
      padding-top: 2rem; } }

.section-subscription {
  padding-top: 11rem; }
  @media (max-width: 750px) {
    .section-subscription {
      padding-top: 10rem; } }

.section-items {
  padding: 11rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (max-width: 750px) {
    .section-items {
      padding: 7rem 0 0 0; } }

.section-copyright {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.425rem;
  font-weight: 500; }
  @media (max-width: 750px) {
    .section-copyright--title {
      padding: 2rem 1rem;
      font-size: 1.2rem; } }
  @media (max-width: 750px) {
    .section-copyright {
      font-size: 1.28rem;
      font-weight: 600;
      color: #454545; } }

.logo {
  display: flex; }
  @media (max-width: 750px) {
    .logo {
      width: 80%;
      margin: 0 2rem; } }

.box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%; }
  @media (max-width: 750px) {
    .box {
      padding-left: 0;
      padding-right: 0; } }

.bg {
  height: 100%;
  position: relative; }
  .bg__img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top; }
  .bg__text {
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 3.8rem;
    right: 8rem;
    width: 24rem; }
    @media (max-width: 750px) {
      .bg__text {
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
        font-size: 2.4rem;
        width: auto; } }
    @media (max-width: 450px) {
      .bg__text {
        top: 1rem;
        right: 1.2rem;
        font-size: 1.6rem;
        width: auto; } }

.nav__checkbox {
  display: none;
  width: 200%;
  height: 200%; }

.nav__button {
  display: none; }
  @media (max-width: 750px) {
    .nav__button {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 999999; } }

.nav__icon {
  position: fixed;
  top: 3rem;
  right: 2rem;
  z-index: 9999999; }
  .nav__icon, .nav__icon::after, .nav__icon::before {
    width: 3rem;
    height: 0.5rem;
    background-color: black;
    display: block;
    z-index: 999999;
    border-radius: 20%; }
  .nav__icon::after, .nav__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s ease-in-out; }
  .nav__icon::before {
    top: -.9rem; }
  .nav__icon::after {
    top: .9rem; }

@media (max-width: 750px) {
  .nav-menu {
    display: none;
    position: fixed;
    top: 7rem;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 10; } }

.nav-menu__ul {
  display: flex;
  text-align: center;
  justify-content: space-around; }
  @media (max-width: 750px) {
    .nav-menu__ul {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 100%; } }
  .nav-menu__ul--li {
    border-left: 2px solid #575757;
    line-height: 1.4;
    display: inline-block;
    width: 100%; }
    @media (max-width: 750px) {
      .nav-menu__ul--li {
        display: inline-block;
        height: 100%;
        border-left: none;
        padding: 1rem 0;
        border-top: 1px solid #cccccc;
        font-size: 1.6rem; } }
    .nav-menu__ul--li:hover {
      background-color: #fafafa; }
    .nav-menu__ul--li:last-child {
      border-right: 2px solid #575757; }
      @media (max-width: 750px) {
        .nav-menu__ul--li:last-child {
          border-right: none;
          border-bottom: 1px solid #cccccc; } }
    .nav-menu__ul--li--a {
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      width: 100%;
      color: black;
      transition: all .2s;
      font-weight: 500; }
      @media (max-width: 750px) {
        .nav-menu__ul--li--a {
          display: inline-block;
          width: 100%;
          color: #454545; } }
      .nav-menu__ul--li--a--active {
        color: #9aaf24;
        text-decoration: none;
        text-transform: uppercase; }
      .nav-menu__ul--li--a:hover {
        color: #9aaf24; }

@media (max-width: 750px) {
  .chuyen .nav__icon {
    background-color: transparent; }
  .chuyen .nav__icon::after {
    top: 0;
    transform: rotate(135deg);
    border-radius: 20%; }
  .chuyen .nav__icon::before {
    top: 0;
    transform: rotate(-135deg);
    border-radius: 20%; } }

.gat {
  margin-top: 7.3rem; }

.hideshow {
  animation: dow 1s ease; }

@keyframes dow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (max-width: 1200px) and (min-width: 750px) {
  .fixed {
    position: fixed;
    z-index: 2;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; } }

@media (min-width: 1200px) {
  .fixed {
    position: fixed;
    z-index: 2;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; } }

.over {
  position: fixed;
  left: 0;
  width: 100%; }

.displaymenu {
  display: block; }

.news {
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  padding: 6rem 0; }
  @media (max-width: 750px) {
    .news {
      padding: 4rem 0 1rem 0; } }

@media (max-width: 750px) {
  .text {
    padding-top: 1rem;
    padding-bottom: 1rem; } }

.section-news__content {
  margin-top: 2.5rem;
  word-wrap: break-word; }
  @media (max-width: 750px) {
    .section-news__content {
      margin-top: 1rem; } }

.news-content {
  display: flex;
  margin-bottom: 1.5rem; }
  @media (max-width: 750px) {
    .news-content {
      display: flex;
      flex-direction: column;
      padding-left: 2.5rem;
      margin-bottom: 2.25rem; } }
  .news-content__btn {
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 170px;
    margin-right: 4rem; }
    @media (max-width: 750px) {
      .news-content__btn {
        font-size: 1.2rem;
        height: 25px;
        width: 115px;
        margin-bottom: 1.25rem; } }
  .news-content__text {
    display: block;
    margin-top: 0.2rem;
    font-size: 1.6rem;
    word-wrap: break-word;
    width: 100%; }
    .news-content__text a {
      color: black;
      word-wrap: break-word;
      line-height: 1.75em;
      font-size: 1.6rem; }
      @media (max-width: 750px) {
        .news-content__text a {
          font-size: 1.6rem; } }
    @media (max-width: 750px) {
      .news-content__text {
        font-size: 1.6rem; } }

.features {
  display: flex;
  margin-top: 5rem; }
  @media (max-width: 750px) {
    .features {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0rem; } }
  .features__img {
    margin-right: 5rem;
    margin-top: 0.3rem;
    width: 32.2rem; }
    @media (max-width: 750px) {
      .features__img {
        width: 100%;
        margin-right: 0;
        padding: 0 1.6rem; } }
  .features__content--title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2.25rem; }
    @media (max-width: 750px) {
      .features__content--title {
        font-size: 2.4rem;
        font-weight: 500;
        margin-top: 1rem;
        color: #454545;
        padding: 0 1.6rem; } }
  .features__content--text {
    font-size: 1.6rem;
    width: 100%; }
    .features__content--text--img {
      float: right;
      max-width: 23rem;
      width: 100%;
      margin-top: 1rem; }
      @media (max-width: 750px) {
        .features__content--text--img {
          float: none;
          position: relative;
          left: 50%;
          transform: translate(-50%, 0); } }
    .features__content--text--text {
      font-size: 1.52rem;
      margin-top: -1rem; }
      @media (max-width: 750px) {
        .features__content--text--text {
          margin-top: 2rem;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: center;
          padding: 0 1.6rem; } }
      .features__content--text--text--things {
        display: block; }
        @media (max-width: 750px) {
          .features__content--text--text--things {
            display: none; } }
      .features__content--text--text--design {
        display: none; }
        @media (max-width: 750px) {
          .features__content--text--text--design {
            display: block; } }

.subscription-text {
  font-size: 1.6rem;
  padding: 2rem 18rem 5.5rem 18rem;
  letter-spacing: -.8px; }
  @media (max-width: 750px) {
    .subscription-text {
      padding: 0 1.6rem;
      font-size: 1.6rem;
      font-weight: 400; } }

.text-sub {
  letter-spacing: -1.5px; }

.sub {
  display: flex;
  justify-content: center; }
  @media (max-width: 750px) {
    .sub {
      flex-direction: column;
      width: 100%; } }

.subscription {
  width: 100%;
  border: 3px solid #c9e23f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 14px 28px #e8e8e8, 0 10px 10px #e8e8e8;
  cursor: pointer;
  margin-right: 2.5rem;
  transition: all .5s; }
  @media (max-width: 750px) {
    .subscription {
      margin-right: 0;
      margin-top: 2.5rem;
      height: 100%; } }
  .subscription:last-child {
    margin-right: 0; }
  .subscription img {
    width: 100%;
    height: 100%;
    vertical-align: top; }
  .subscription__img {
    width: 100%; }
    @media (max-width: 750px) {
      .subscription__img {
        width: 100%; } }
  .subscription__title {
    margin-top: 1.2rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: #454545; }
    @media (max-width: 750px) {
      .subscription__title {
        margin-top: 1.1rem;
        font-size: 2.2rem;
        font-weight: 700; } }
  .subscription__price {
    font-size: 3.8rem;
    font-weight: 600;
    color: #454545;
    margin-top: -0.7rem; }
    @media (max-width: 750px) {
      .subscription__price {
        font-size: 4rem;
        line-height: 1.7;
        margin: -.5rem 0;
        letter-spacing: 0.05rem; } }
  .subscription__detail {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: #454545;
    line-height: 1.4; }
    @media (max-width: 750px) {
      .subscription__detail {
        font-size: 1.6rem;
        margin-top: 3rem; } }
  .subscription__button {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 1.8rem;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #454545;
    border: none;
    outline: none;
    cursor: pointer;
    color: #454545; }
    @media (max-width: 750px) {
      .subscription__button {
        margin: 2.6rem 0 2rem 0;
        padding-left: 18px;
        padding-right: 18px; } }
    .subscription__button--btn {
      font-size: 1.4rem;
      background-color: #eeeeee;
      display: inline-block;
      width: 100%;
      height: 50px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: #454545; }
  .subscription:hover {
    transform: translateY(-1rem);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    @media (max-width: 750px) {
      .subscription:hover {
        transform: translateY(-1rem); } }
  .subscription:hover .subscription__button--btn {
    background-image: linear-gradient(to right, #c9e23f, #48e3dc); }

.text-items {
  font-family: 'Montserrat', sans-serif; }

.items {
  padding: 5rem 0 11rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  @media (max-width: 750px) {
    .items {
      padding: 3rem 0 6rem 0; } }
  .items__img {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%; }
    @media (max-width: 750px) {
      .items__img {
        margin: 0 auto;
        max-width: 100%; } }
    .items__img--child {
      width: 16.66667%; }
      @media (max-width: 750px) {
        .items__img--child {
          width: 33.33333%;
          max-width: 100%; } }
      .items__img--child a img {
        vertical-align: top;
        width: 100%; }

.logo {
  display: flex; }
  @media (max-width: 750px) {
    .logo {
      width: 80%;
      margin: 0 2rem; } }
