$bg-primary:#ffffff;
$color-primary:#ffffff;
$color-line: #575757;
$bg-news: #fafafa; //#fafafa;
$border-news: #e6e6e6;
$color-linear: #c9e23f;
$color-linear-1: #48e3dc;
$color-nav:#424242;
$color-text-nav:#454545;
$color-text-hover: #9aaf24;
$color-button: #454545;
$color-a:black;

