$bg-primary:#ffffff;
$color-primary:#ffffff;
$color-line: #cccccc;
$bg-news: #fafafa; //#fafafa;
$border-news: #f1f1f1;
$color-linear: #c9e23f;
$color-linear-1: #48e3dc;
$color-nav:#424242;
$color-text-nav:#454545;
$color-text-hover: #9aaf24;
$color-button: #454545;
$color-a:black;
$backgroup-button: #eeeeee;
$color-sub: #454545;

