.features{
    display: flex;
    margin-top: 5rem;
    @include respond(sp){          
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0rem;
    }
    &__img{
        margin-right: 5rem;
        margin-top: 0.3rem;
        width: 32.2rem;
        height: 100%;
        @include respond(sp){
            width: 100%;
            margin-right: 0;
            padding: 0 1.6rem;
        }
    }
    &__content{
        &--title{
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 2.25rem;
            @include respond(sp){
                font-size: 2.4rem;
                font-weight: 500;
                margin-top: 1rem;
                color: $color-text-nav;
                padding: 0 1.6rem;
            }
        }
        &--text{
            font-size: 1.6rem;
            width:100%;
            &--img{
                float: right;
                max-width: 23rem;
                width: 100%;
                margin-top: 1rem;
                @include respond(sp){
                    float: none;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%,0);
                }
            }
            &--text{
                font-size: 1.52rem;
                margin-top: -1rem;
                @include respond(sp){
                    margin-top: 2rem;
                    width:100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    align-content: center;
                    padding: 0 1.6rem;
                }
                &--things{
                    display:block;
                    @include respond(sp){
                        display: none;
                    }
                }
                &--design{
                    display: none;
                    @include respond(sp){
                        display: block;
                    }
                }
            }
        }
        
    }
}