.nav{
    &__checkbox{
        display: none;
        width: 200%;
        height: 200%;
    }

    &__button{
        display: none;
        @include respond(sp){
            cursor: pointer;
            display: inline-block;
            width: 100%;
            height: 100%;
            z-index: 999999;
        }
    }
    &__icon{
        position: fixed;
        top: 3rem;
        right: 2rem;
        z-index: 9999999;
        &,
        &::after,
        &::before{
            width: 3rem;
            height: 0.5rem;
            background-color: black;
            display: block;
            z-index: 999999;
            border-radius: 20%;
        }
        &::after,
        &::before{
            content: "";
            position:absolute;
            left: 0;
            transition: all .3s ease-in-out;
        }
        &::before{
            top: -.9rem;
        }
        &::after{
            top: .9rem;
        }
    }

    &-menu{
        @include respond(sp){
            display: none; //
            position: fixed;
            top: 7rem;
            left: 0;
            background-color: rgba($color: #ffff, $alpha: .9);
            width: 100%;
            height: 100vh;
            z-index: 10;
        }
        &__ul{
            @include respond(sp){
                position: fixed;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            display: flex;
            text-align: center;
            justify-content: space-around;
            &--li{
                border-left: 2px solid #575757;
                line-height: 1.4;
                @include respond(sp){
                    display: inline-block;
                    height: 100%;
                    border-left: none;
                    padding: 1rem 0;
                    border-top: 1px solid #cccccc;
                    font-size: 1.6rem;
                }
                display: inline-block;
                width: 100%;
                &:hover{
                    background-color: $bg-news;
                }
                &:last-child{
                    border-right: 2px solid #575757;
                    @include respond(sp){
                        border-right: none;
                        border-bottom: 1px solid #cccccc;
                    }
                }
                &--a{
                    @include respond(sp){
                        display: inline-block;
                        width: 100%;
                        color:$color-text-nav ;
                    }
                    text-decoration: none;
                    text-transform: uppercase;
                    display: inline-block;
                    width: 100%;
                    color: black;
                    transition: all .2s;
                    &--active{
                        color: $color-text-hover ;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                    &:hover{
                        color: $color-text-hover ;
                    }
                    font-weight: 500;
                }
            }
        }
    }
}

.chuyen{
    @include respond(sp){
        .nav__icon{
            background-color: transparent;
        }
        .nav__icon::after{
            top: 0;
            transform: rotate(135deg);
            border-radius: 20%;
        }
        .nav__icon::before{
            top: 0;
            transform: rotate(-135deg);
            border-radius: 20%;
        }
    }
}

.gat{
    margin-top: 7.3rem;
}
.hideshow{  
    animation: dow 1s ease;
}

@keyframes dow {
    from { opacity: 0;}
    to { opacity: 1;}
}

.fixed {
    @include respond(pc){
        position:fixed;
        z-index: 2;
        top: 2rem;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    @include respond(big-pc){
        position:fixed;
        z-index: 2;
        top: 2rem;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
}
.over{
    position: fixed;
    left: 0;
    width: 100%;
}

.displaymenu{
    display: block;
} 