.news{
    background-color: $bg-news;
    border: 1px solid $border-news;
    padding: 6rem 0;
    @include respond(sp){
        padding: 3rem 0 1rem 0;
    }
}

.text{
    @include respond(sp){
        padding-top:1rem ;
        padding-bottom:1rem ;
    }
}

.section-news__content{
    margin-top: 2.5rem;
    word-wrap: break-word;
    @include respond(sp){
        margin-top: 1rem;
    }
}

.news-content{
    display: flex; 
    margin-bottom: 1.2rem; 
    @include respond(sp){
        display: flex;
        flex-direction: column;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-bottom: 2.25rem;
    }
    &__btn{
        background-color: #333333;
        color: $color-primary;
        cursor: pointer;
        border: none;
        height: 30px;
        width: 170px;
        margin-right: 4rem;
        @include respond(sp){
            font-size: 1.2rem;
            height: 25px;
            width: 115px;
            margin-bottom: 1.25rem;
        }
    }
    &__text{
        display: block;
        margin-top: 0.2rem;
        font-size: 1.6rem;
        word-wrap: break-word;
        width:100%;
        & a{
            color:$color-a;
            word-wrap: break-word;
            line-height: 1.75em;
            font-size: 1.6rem;
            @include respond(sp){
                font-size: 1.6rem;
            }
        }
        @include respond(sp){
            font-size: 1.6rem;
        }
    }
}