.news{
    background-color: $bg-news;
    border: 1px solid $border-news;
    padding: 6rem 0;
    @include respond(sp){
        padding: 4rem 0 1rem 0;
    }
}

.text{
    padding-top: -.5rem;
    @include respond(sp){
        padding-top:1rem ;
        padding-bottom:1rem ;
    }
    @include respond(big-pc){
        margin-top: 1rem;
    }
}

.section-news__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: .5rem;
    // word-wrap: break-word;
    @include respond(sp){
        margin-top: 1rem;
    }
    @include respond(big-pc){
        padding-left: 18rem;
    }
}

.news-content{
    display: flex; 
    margin-top: 1.55rem;
    word-wrap: break-word;
    &:nth-child(2){
        margin-top: 2rem;
        @include respond(big-pc){
            margin-top: 3rem;
        }
    }
    &:nth-child(3){
        margin-top: 2rem;
    }
    &:nth-child(4){
        @include respond(big-pc){
            margin-top: 2.8rem;
        }
    }
    @include respond(sp){
        display: flex;
        flex-direction: column;
        padding-left: 2.5rem;
        margin-bottom: 2.25rem;
    }
    &__btn{
        background-color: #333333;
        color: $color-primary;
        cursor: pointer;
        border: none;
        height: 28px;
        width: 170px;
        margin-right: 3.8rem;
        @include respond(sp){
            font-size: 1.2rem;
            height: 25px;
            width: 115px;
            margin-bottom: 1.25rem;
        }
    }
    &__text{
        display: flex;
        align-items: center;
        font-size: 1.2rem !important;
        word-wrap: break-word;
        width:100%;
        & a{
            color:$color-a;
            word-wrap: break-word;
            line-height: 1.75em;
            font-size: 1.6rem;
            @include respond(sp){
                font-size: 1.6rem;
            }
        }
        @include respond(sp){
            font-size: 1.6rem;
        }
    }
}