.subscription-text{
    font-size: 1.6rem;
    padding: 1rem 17rem 5.5rem 17rem;
    @include respond(sp){
        padding: 0 ;
        font-size: 1.6rem ;
        font-weight: 400;
    }
}

.sub{
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(sp){
        flex-direction: column;
        width: 100%;
    }
}

.subscription{

    @include respond(sp){
        margin-right: 0;
        margin-top: 2.5rem;
    }
    width: 100%;
    border: .3rem solid $color-linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 14px 28px #e8e8e8, 0 10px 10px #e8e8e8;
    overflow: visible;
    cursor: pointer;
    margin-right: 2.5rem;
    &:last-child{
        margin-right: 0;
    }
    &__img{
        max-width: 33.5rem;
        width: 100%;
        @include respond(sp){
            width: 100%;
        }
    }
    &__title{
        margin-top: 1.2rem;
        font-size: 2rem;
        font-weight: 700;
        @include respond(sp){
            margin-top: 1.1rem;
            font-size: 2.2rem;
        }
    }
    &__price{
        font-size: 3.8rem;
        font-weight: 600;
        letter-spacing: 0.12rem;
        @include respond(sp){
            font-size: 4rem;
            line-height: 1;
        }
    }
    &__detail{
        margin-top: .8rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        @include respond(sp){
            font-size: 1.6rem;
        }
    }
    &__button{
        margin: 3rem 0 2.8rem 0;
        &--btn{
            font-size: 1.6rem;
            font-weight: 700;
            color:$color-button ;
            border: none;
            outline: none;
            background-color: #eeeeee;
            cursor: pointer;
            text-decoration: none;
            padding: 1.5rem 8rem;
            @include respond(sp){
                font-size: 1.6rem;
                word-break: break-all;
                padding: 1rem 7rem;
            }
        }
    }
    transition: all .5s;
    &:hover{
        transform: translateY(-1rem);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        @include respond(sp){
            transform: translateY(-1rem);
        }
    }
    &:hover &__button--btn{
        background-image: linear-gradient(to right, $color-linear , $color-linear-1);
    }
}
