.subscription-text{
    font-size: 1.6rem;
    padding: 2rem 18rem 5.5rem 18rem;
    letter-spacing: -.8px;
    @include respond(sp){
        padding: 0 1.6rem;
        font-size: 1.6rem ;
        font-weight: 400;

    }
}
.text-sub{
    letter-spacing: -1.5px;
}
.sub{
    display: flex;
    justify-content: center;
    @include respond(sp){
        flex-direction: column;
        width: 100%;
    }
}

.subscription{

    @include respond(sp){
        margin-right: 0;
        margin-top: 2.5rem;
        height: 100%;
    }
    width: 100%;
    border: 3px solid $color-linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 14px 28px #e8e8e8, 0 10px 10px #e8e8e8;
    cursor: pointer;
    margin-right: 2.5rem;
    &:last-child{
        margin-right: 0;
    }
    & img{
        width: 100%;
        height:100%;
        vertical-align: top;
    }
    &__img{
        width: 100%;
        @include respond(sp){
            width: 100%;
        }
    }
    &__title{
        margin-top: 1.2rem;
        font-size: 2.2rem;
        font-weight: 700;
        color:$color-sub;
        @include respond(sp){
            margin-top: 1.1rem;
            font-size: 2.2rem;
            font-weight: 700;
        }
    }
    &__price{
        font-size: 3.8rem;
        font-weight: 600;
        color:$color-sub;
        margin-top: -0.7rem;
        // letter-spacing: 0.12rem;
        @include respond(sp){
            font-size: 4rem;
            line-height: 1.7;
            margin: -.5rem 0;
            letter-spacing: 0.05rem;
        }
    }
    &__detail{
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        color: $color-sub;
        line-height: 1.4;
        @include respond(sp){
            font-size: 1.6rem;
            margin-top: 3rem;
        }
    }
    &__button{
        display: inline-block;
        width: 100%;
        height: auto;
        margin-top: 3rem;
        margin-bottom: 1.8rem;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.4rem;
        font-weight: 700;
        color:$color-button ;
        border: none;
        outline: none;
        cursor: pointer;
        color: $color-sub;
        @include respond(sp){
            margin: 2.6rem 0 2rem 0;
            padding-left: 15px;
            padding-right: 15px;
        }
        &--btn{
            font-size: 1.4rem;
            background-color: $backgroup-button;
            display: inline-block;
            width: 100%;
            height: 50px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            color: $color-sub;
        }
    }
    transition: all .5s;
    &:hover{
        transform: translateY(-1rem);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        @include respond(sp){
            transform: translateY(-1rem);
        }
    }
    &:hover &__button--btn{
        background-image: linear-gradient(to right, $color-linear , $color-linear-1);
    }
}
