.text{
    display: flex;
    align-content: center;
    justify-content: center;
    &__primary{
        color: rgb(65, 62, 62);
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        display: inline-block;
        @include respond(sp){
            font-size: 2.4rem;
        }
        &::after{
            content: "";
            width: 4rem;
            height: .3rem;
            background-image: linear-gradient(to right, $color-linear , $color-linear-1);
            position: absolute;
            top: .1rem;
            left: 0;
            @include respond(sp){
                font-size: 4.8rem;
            }
        }
    }
}


.container{
    // max-width: 1080px;
    // width: 100%;
    // margin: 0 auto;

    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    @include respond(sp){
        padding-left: 15px;
        padding-right: 15px;
    }
}

.newcontainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    @include respond(sp){
        padding-left: 10px;
        padding-right: 10px;
    }
}


//định nghĩa các chữ